{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airtickets</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/css.css' %}">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="search-header">
    <nav id='search-navbar' class="navbar navbar-default banner">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'main' %}">Airtickets</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-nav-primary">
                    <li><a href="#">Домой</a></li>
                    <li><a href="#">Билеты</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
        <div class="search-form-box">
            <form action="{% url 'search' %}" method="get" id='search' class="search-form"
                  enctype="multipart/form-data">
                <div class="form-group">
                    <label for="from" class="form-label">Аэропорт вылета</label>
                    <select name="from" required id="from" class="form-control">
                        <option value="">Выберите Аэропорт</option>
                        {% for option in options %}
                        <option value="{{option.name}}">{{option.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="to" class="form-label">Аэропорт прилета</label>
                    <select name="from" required id="to" class="form-control">
                        <option value="">Выберите Аэропорт</option>
                        {% for option in options %}
                        <option value="{{option.name}}">{{option.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="usr">Туда</label>
                    <input type="text" class="form-control" value="" required name="date_from" placeholder="Туда">
                </div>
                <div class="form-group">
                    <label for="pwd">Обратно</label>
                    <input type="text" class="form-control" value="" required placeholder="Обратно" name="date_to">
                </div>
                <div class="form-group">
                    <button type="submit" id='search-btn' class="btn btn-primary">Поиск Авиабилетов</button>
                </div>

            </form>
            <div id="alert-box"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="results-list">

<!--        {% for element in result %}-->
<!--            <a href="#">-->
<!--                <div class="result-item" data-flight_id ="{{element.flight.id}}" data-aircomapany_id="{{element.flight.aircompany.id}}">-->
<!--                    <div class="flight-info">-->
<!--                        <p class="h4">{{element.flight.aircompany.name}}-->
<!--                            <a href="#">-->
<!--                                <img src="{% static 'img/rep_plus.svg' %}" class='rating_icon rating_up' data-aircomapany_id="{{element.flight.aircompany.id}}" alt="">-->
<!--                            </a>-->
<!--                            <a href="#">-->
<!--                                <img src="{% static 'img/rep_down.svg' %}" class='rating_icon rating_down' data-aircomapany_id="{{element.flight.aircompany.id}}" alt="">-->
<!--                            </a>-->
<!--                        </p>-->
<!--                        <div class="flight-info-item">-->
<!--                            <p class="h3">{{ element.depature_time|date:'H:i' }}</p>-->
<!--                            <p class="h5 disabled-text">{{ element.flight.departure_point.name }}</p>-->
<!--                            <p class="h5 disabled-text">{{element.depature_time|date:"Y-m-d"}}</p>-->
<!--                            {% if element.name and element.plane %}-->
<!--                                <p class="h5 disabled-text">{{element.name}} - {{element.plane}}</p>-->
<!--                            {% endif %}-->
<!--                            <p class="h5 disabled-text">{{element.flight.aircompany.rating}} отзывов</p>-->
<!--                        </div>-->
<!--                        <div class="flight-info-item right-item">-->
<!--                            <p class="h3">{{ element.arrival_time|date:'H:i' }}</p>-->
<!--                            <p class="h5 disabled-text">{{ element.flight.to.name }}</p>-->
<!--                            <p class="h5 disabled-text">{{element.arrival_time|date:"Y-m-d"}}</p>-->
<!--                            {% for seats in depature_seats %}-->
<!--                                {% if seats.id == element.id %}-->
<!--                                    <p class="h4">Места есть</p>-->
<!--                                {% endif %}-->
<!--                            {% endfor %}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->

<!--        {% endfor %}-->


    </div>
    <div id="result-info">


    </div>
</div>
<div class="footer-box">
    <div class="footer">
        Airtickets Corporation. <br>
        All right reserved
    </div>

</div>

<script src="{% static 'js/js.js' %}"></script>


</body>
</html>